body {
	font-family: 'PT Sans', sans-serif;
	line-height: 150%;
	font-size: 1.65rem;
}

.main-text {
	width: 100%;
	max-width: 750px;
}

/*Universal column styling*/
.col-left, .col-right {
	padding: 5%;
}

.col-left {
    background: 
	    linear-gradient(
	      rgba(3, 81, 99, 0.96),
	      rgba(52, 3, 99, 0.65)
	      
	    ),
	    url(/assets/img/col-left-background.jpg);
	background-size: cover;
    text-align: center;
    color: white;
}

	.col-left a {
		color: rgba(255, 255, 255, 0.71);
		text-decoration: none;
	}

		.col-left a:hover {
			color: rgba(255, 255, 255, 1);
		}

		.col-left hr {
			border-top: 1px solid rgba(238, 238, 238, 0.45);
		}


.profilepic {
	max-width: 100%;
	border-radius: 100%;
	width: 100px;
}


@media screen and (min-width: 700px) {

	body {
		font-size: 2rem;
	}

	.col-left {
		width: 35%;
	    height: 100%;
	    position: fixed;
	}
	.col-right {
		width: 64%;
	    float: right;
	    display: inline-block;
	}

		.col-right hr {
			margin-bottom: 2em;
		}

		.col-right h2 {
			margin-bottom:1em;
		}

	.profilepic {
		width: 200px;
	}
}

/*Little global things*/

a {
	transition: linear 0.2s;
}

h1 {
	font-weight: 700;
}

p, ul {
	margin-bottom: 1.3em;
}

.fa-heart {
	color:red;
}

.socialicons {
	margin-bottom: 0;
}

li {
	text-decoration: none;
}